@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans:300|Oswald:200|Raleway:600');

/* Oben--------------------------------------------------------------------*/

#oben{
	background-color: #CCBCA6;
}

.logo{
    border-radius: 2px;
	margin-top: 10px;
	margin-left: 5%;
}

/* Suchleiste ------------------------------------------------------------------------------*/
.suchleiste{
	position: absolute;   
    height: auto; width: auto;    
    left:37%;top: 25px; 
	border-radius: 5px;
}

.lupe{
	margin-bottom: 3px;
	border-radius: 5px;
}

/* Navigationsleiste--------------------------------------------------------------------*/
.menu {
    background-color: #7F6541;
    color: white;
	width: 90%;
	margin-left: 5%;
    border-radius: 5px;
   	font-size: 20px;
    font-family: Bahnschrift;
	height: 50px;
	margin-top: 2%;
}

/* Login ------------------------------------------------------------------------------*/

.login {
	position: absolute;   
    height: auto; width: auto;    
    left:72%;top: 10px; 
	float: left;
}

.inputfield{
	width: 83%;
	height: 25px;;
	margin-bottom: 2px;
}

#loginBtn{
    background-color: #7F6541;
    color: white;
    text-align: center;
    font-size: 12px;
	border-radius: 5px;
	margin-left: 50%;
	width: 33%;
	height: 25px;
}



/* Slideshow --------------------------------------------------------------------------*/

.w3-left, .w3-right {cursor:pointer; background-color: #7F6541;}

.slideshow{
	background-color: #CCBCA6;
}


/* Produktübersicht --------------------------------------------------------------------------*/
#produktuebersicht {
    background-color: #FFEBCF;
	margin-top: -2%;
}

.buchbild{
	width:120px;
	height:180px;
}

.btnxl {
    background-color: #7F7668;
    color: white;
    padding: 4px 25px;
    font-size: 20px;
	position: absolute;
	margin-left: 25%;
	margin-top: 2.6%;
}

#detailsanzeigen{
	background-color: #7F6541;
    color: white;
    text-align: center;
    font-size: 13px;
	border-radius: 5px;
	margin-left: 50%;
	width: 55%;
	height: 25px;
}

.buchübersicht1{
	border-style: solid;
	position: top;
}

.produktangaben{
	width: 100%;
	border-style: solid; 
	margin-left: 5%;
	font-family: 'tahoma';
	border-spacing: 2px;
}

.horizontalelinie {
    width: 95%;
    color: black;
    height: 2px;
    background-color:black;
}

/* Produktdetails --------------------------------------------------------------------------*/
#produktdetails{
    background-color: #FFEBCF;
	margin-top: -2%;
}

.infofeld{
	height: 30px;
	font-family: 'tahoma';
	font-size: 15px;
}

.btnxl2 {
    background-color: #7F7668;
    color: white;
    padding: 4px 25px;
    font-size: 20px;
	font-family: Bahnschrift;
	margin-left: 35%;
}

#anfragesenden{
	background-color: #7F6541;
    color: white;
    text-align: center;
    font-size: 20px;
	font-family: Bahnschrift;
	border-radius: 5px;
	width: 55%;
	height: 40px;
	margin-left: 45%;
}

/* Buch einstellen --------------------------------------------------------------------------*/
#bucheinstellen{
    background-color: #CCBCA6;
	margin-top: -2%;
}

#bucheinstellenbtn{
	background-color: #7F6541;
    color: white;
    text-align: center;
    font-size: 20px;
	font-family: Bahnschrift;
	border-radius: 5px;
	width: 25%;
	height: 40px;
	margin-left: 75%;
}

/* Mein Profil --------------------------------------------------------------------------*/
#meinprofil{
    background-color: #FFEBCF;
	margin-top: -2%;
}

#bearbeiten{
    background-color:#7F6541;
    color:white;
	border-radius:5px;
	font-family: Bahnschrift;
	font-size: 15px;
	width: 70%; 
	margin-left: 30%;
	
}

#abokuendigen{
	 background-color:#7F7668;
    color:white;
	border-radius:5px;
	font-family: Bahnschrift;
	font-size: 25px;
	width: 35%; 
	height: 50px;
	margin-left: 10%;
}

/* Meine Inserate --------------------------------------------------------------------------*/
#meineinserate{
    background-color: #CCBCA6;
	margin-top: -2%;
}

#bearbeiteninserat{
	background-color: #7F6541;
    color: white;
    text-align: center;
    font-size: 15px;
	border-radius: 5px;
	margin-left:0%; 
	width: 30%;
	height: 35px;
}

#entferneninserat{
	background-color: #7F6541;
    color: white;
    text-align: center;
    font-size: 15px;
	border-radius: 5px;
	margin-left:12%; 
	width: 30%;
	height: 35px;
}

/* Meine Tauschanfragen --------------------------------------------------------------------------*/
#tauschanfragen{
    background-color: #FFEBCF;
	margin-top: -2%;
}

#tauschakzeptieren{
	background-color:#7F6541;
    color:white;
	border-radius:5px;
	font-family: Bahnschrift;
	font-size: 20px;
	width: 80%;
	margin-top: 2%;
	margin-left:20%;
}

#tauschablehnen{
	background-color:#7F6541;
    color:white;
	border-radius:5px;
	font-family: Bahnschrift;
	font-size: 20px;
	width: 80%;
	margin-top: 2%;
	margin-left: 0%;
}

#nachrichtsenden{
	background-color:#7F6541;
    color:white;
	border-radius:5px;
	font-family: Bahnschrift;
	font-size: 15px;
	width: 60%;
	margin-left: 10%;
}

/* Abgeschlossene Tauschgeschäfte --------------------------------------------------------------------------*/
#tauschgeschaefte{
    background-color: #CCBCA6;
	margin-top: -2%;
}

#bewertungsenden1, bewertungsenden2{
	background-color:#7F6541;
    color:white;
	border-radius:5px;
	font-family: Bahnschrift;
	font-size: 15px;
	width: 50%;
	margin-top: 1%;
	margin-left: 50%;
}

/****** Style Star Rating Widget *****/

.rating {
	border: none;
	float: left;
}

.rating > input { display: none; }
.rating > label:before {
	margin: 5px;
	font-size: 1.25em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005";
}

.rating > .half:before {
	content: "\f089";
	position: absolute;
}

.rating > label {
	color: #ddd;
	float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
/*source:https://codepen.io/jamesbarnett/pen/vlpkh */

/* Registrierung --------------------------------------------------------------------------*/
#registrieren{
    background-color: #FFEBCF;
	margin-top: -2%;
}

#addUserBtn {
    background-color:#7F6541;
    color:white;
	border-radius:5px;
	font-family: Bahnschrift;
	font-size: 15px;
	width: 60%; 
	margin-left: 40%;
	
}

#bildupload{
	background-color: #7F6541;
    color: white;
    text-align: center;
    font-size: 15px;
	border-radius: 5px;
	margin-left:38%; 
	width: 25%;
	height: 35px;
}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

#img-upload{
	width: 40%;
}

/*--Footer-----------------------------------------*/
#footer {
    background-color: #7F6541;
    color: white;
	margin-top: 4%;
}


/* Allgemein --------------------------------------------------------------------------*/
.abstandlinks{
	margin-left: 5%;
}



/* Überschriften --------------------------------------------------------------------------*/
h1{
	font-family: Bahnschrift;
	color: white;
}

.zwischenzeilehell{
	background-color: #FFEBCF;
	height: 5px;
	margin-top: 2%;
}

.zwischenzeiledunkel{
	background-color: #CCBCA6;
	height: 5px;
	margin-top: 2%;
}

.ueberschrift1{
	background-color: white; width: 600px; border-style: solid; margin-left: 5%;
}

.ueberschrift2{
	margin-left: 20px;
}

#body {
    text-align: left;
    font-family: 'Tahoma';
	background-color: #FFEBCF;
}


/* Impressum------------------------------------------------------------------*/

#impressum {
	background-color: white;
	table-layout:fixed;

}
.schrift-impressum{
	font-weight: bold;
	text-align: left;
}
.impressumbackground{
	background-color: #CCBCA6;
}
.schrifteinruecken{
	text-align: left;
}

.icons{
border-radius:7px;
}
#fb{
	margin-left: 30px;
	margin-top: 0px;
}
#insta{
	margin-left:100px;
	margin-top: 0px;
}
 #twitter{
	 margin-left: 100px;
	 margin-top: 0px;
 }
